
  .color-gray {
    color: gray;
  }
  /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    padding: 1px 16px;
    text-decoration: none;
  }

  .home-page {
    overflow: hidden;
    background-color: #FDF3E7;
    margin-top: 42px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  .box{
    width:100%;
    height: 250px;
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    
  }
  .home-page h1 {
    color: black;
    font-family:Oswald;
    font-size: 40px;
    width: 250px;
  }
  .home-page h2 {
    color: black;
    font-family:Oswald;
    font-size: 20px;
    width: 250px;
  }
  .smaller-image {
    position: relative;
    width: 250px;
    right:30px;
    left: 30px;
  }
.medium-image {
    position: relative;
    width: 300px;
    right:30px;
    left: 30px;
  }
  .project-page {
    overflow: hidden;
    background-color: #5bc0de;
    width: 100%; /* Full width */
  }
.project-page img{
  max-width:100%;
  margin: 30px;
	height:auto;
	display:block;
}
  .project-page h3{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: Oswald;
  }
  .box-2{
    width:100%;
    height: 650px;
    
  }
.grid {
	padding:0;
	max-width: 90%;
	list-style: none; 
	margin-top:20px;
}
project-page li {
	margin:20px;
  max-width:600px;
  @media(min-width:1023px) {
    max-width:420px;
    }
}
  .contact-page{
    overflow: hidden;
    background-color:#EFEFEF;
    width: 100%; /* Full width */
  }
.contact-page h3{
    color: Black;
    text-align: center;
    font-size: 40px;
    font-family: Oswald;
    padding: 10px;
  }
.box-3{
    width:100%;
    height: auto;
  }
.contact-page input{
  max-width:100%;
  margin: 30px;
	height:auto;
  	display:block;
  background: white;
  }
.contact-page button{
  background-color: white;
}
.social-page {
  overflow: hidden;
    background-color: #EFEFEF;
    width: 100%; /* Full width */
}
.box-4{
  width:100%;
    height: 250px;
}
.social-page h4 {
   color: Black;
    font-size: 40px;
    font-family: Oswald;
  margin-left: 10px;
}
.social-page button {
  color: black;
  padding: 0px;
  text-align: center; 
}
.btn {
  margin-left: 30px;
      display: block;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 2px solid white;
    }
.button {
  display:block;
  background: gray;
  margin:2px;
}
